@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: none;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: #f2f2f2;
}
.navbar h1 {
  color: #e67e08;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #e67e08;
}

.agenti{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image{
  width: 600px;
  height: 800px;
  border-radius: 10px;
}
.faarrow-right{
  position:absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.faarrow-left{
  position:absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide{
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.forma-n {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.forma-n label {
  text-align: left;
  display: block;
}
.forma-n h2 {
  font-size: 20px;
  color: #e67e08;
  margin-bottom: 30px;
}
.forma-n input, .forma-n textarea, .forma-n select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.forma-n button {
  background: #e67e08;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}